body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f7f9fc;
    color: #333;
}

.header {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 90px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 70px 20px;
    background: #e3efff;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-top: 35px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    background: #007bff;
    color: white;
    padding: 12px 30px;
    border-radius: 10px;
    text-decoration: none;
}

.footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background: #ececec;
}
